In [465]:
import pandas as pd

In [466]:
welcome_cities_df = pd.read_csv("Welcoming America Cities.csv")

In [467]:
welcome_cities_df.head()

            city state  welcoming_america
0      Anchorage    AL                  1
1  Fayetteville     AR                  1
2        Anaheim    CA                  1
3    Chula Vista    CA                  1
4     Long Beach    CA                  1

In [468]:
welcome_cities_df = welcome_cities_df[["city", "state"]]
welcome_cities_df.head()

            city state
0      Anchorage    AL
1  Fayetteville     AR
2        Anaheim    CA
3    Chula Vista    CA
4     Long Beach    CA

In [469]:
xls = pd.ExcelFile("2009-2013-acs-lang-tables-cbsa.xls")
xls_cities = list(xls.sheet_names)

In [470]:
xls_cities

['Contents',
 'Akron, OH',
 'Albany-Schenectady-Troy, NY',
 'Albuquerque, NM',
 'Allentown-Bethlehem-Easton, PA-',
 'Anchorage, AK',
 'Ann Arbor, MI',
 'Atlanta-Sandy Springs-Roswell, ',
 'Atlantic City-Hammonton, NJ',
 'Austin-Round Rock, TX',
 'Bakersfield, CA',
 'Baltimore-Columbia-Towson, MD',
 'Baton Rouge, LA',
 'Boston-Cambridge-Newton, MA-NH',
 'Bridgeport-Stamford-Norwalk, CT',
 'Buffalo-Cheektowaga-Niagara Fal',
 'Cape Coral-Fort Myers, FL',
 'Charlotte-Concord-Gastonia, NC-',
 'Chicago-Naperville-Elgin, IL-IN',
 'Cincinnati, OH-KY-IN',
 'Cleveland-Elyria, OH',
 'Colorado Springs, CO',
 'Columbus, OH',
 'Dallas-Fort Worth-Arlington, TX',
 'Dayton, OH',
 'Deltona-Daytona Beach-Ormond Be',
 'Denver-Aurora-Lakewood, CO',
 'Des Moines-West Des Moines, IA',
 'Detroit-Warren-Dearborn, MI',
 'Durham-Chapel Hill, NC',
 'Farmington, NM',
 'Fresno, CA',
 'Grand Rapids-Wyoming, MI',
 'Greensboro-High Point, NC',
 'Harrisburg-Carlisle, PA',
 'Hartford-West Hartford-East Har',
 'Hilo, HI',
 'Houston-The Woodlands-Sugar Lan',
 'Indianapolis-Carmel-Anderson, I',
 'Jacksonville, FL',
 'Kahului-Wailuku-Lahaina, HI',
 'Kansas City, MO-KS',
 'Lafayette, LA',
 'Lancaster, PA',
 'Lansing-East Lansing, MI',
 'Las Vegas-Henderson-Paradise, N',
 'Los Angeles-Long Beach-Anaheim,',
 'Louisville Jefferson County, KY',
 'Madison, WI',
 'Manchester-Nashua, NH',
 'Memphis, TN-MS-AR',
 'Miami-Fort Lauderdale-West Palm',
 'Milwaukee-Waukesha-West Allis, ',
 'Minneapolis-St. Paul-Bloomingto',
 'Modesto, CA',
 'Naples-Immokalee-Marco Island, ',
 'Nashville-Davidson--Murfreesbor',
 'New Haven-Milford, CT',
 'New Orleans-Metairie, LA',
 'New York-Newark-Jersey City, NY',
 'North Port-Sarasota-Bradenton, ',
 'Oklahoma City, OK',
 'Omaha-Council Bluffs, NE-IA',
 'Orlando-Kissimmee-Sanford, FL',
 'Oxnard-Thousand Oaks-Ventura, C',
 'Philadelphia-Camden-Wilmington,',
 'Phoenix-Mesa-Scottsdale, AZ',
 'Pittsburgh, PA',
 'Portland-South Portland, ME',
 'Portland-Vancouver-Hillsboro, O',
 'Providence-Warwick, RI-MA',
 'Raleigh, NC',
 'Reno, NV',
 'Richmond, VA',
 'Riverside-San Bernardino-Ontari',
 'Rochester, NY',
 'Sacramento--Roseville--Arden-Ar',
 'St. Louis, MO-IL',
 'Salinas, CA',
 'Salt Lake City, UT',
 'San Antonio-New Braunfels, TX',
 'San Diego-Carlsbad, CA',
 'San Francisco-Oakland-Hayward, ',
 'San Jose-Sunnyvale-Santa Clara,',
 'Santa Maria-Santa Barbara, CA',
 'Santa Rosa, CA',
 'Seattle-Tacoma-Bellevue, WA',
 'Show Low, AZ',
 'Spokane-Spokane Valley, WA',
 'Springfield, MA',
 'Stockton-Lodi, CA',
 'Syracuse, NY',
 'Tampa-St. Petersburg-Clearwater',
 'Trenton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Urban Honolulu, HI',
 'Vallejo-Fairfield, CA',
 'Virginia Beach-Norfolk-Newport ',
 'Washington-Arlington-Alexandria',
 'Worcester, MA-CT']

In [471]:
selected_cities = []

In [472]:
welcome_cities_list = welcome_cities_df["city"].tolist()
welcome_cities_list

['Anchorage',
 'Fayetteville ',
 'Anaheim',
 'Chula Vista',
 'Long Beach',
 'San Diego',
 'San Francisco',
 'Santa Clara',
 'Denver',
 'Washington',
 'Delray Beach',
 'Gainesville',
 'Atlanta',
 'Brookhaven',
 'Clarkston',
 'Decatur',
 'Doraville',
 'East Point',
 'Norcross',
 'Stockbridge',
 'Iowa City',
 'Boise',
 'Champaign',
 'Chicago',
 'Evanston',
 'Bowling Green',
 'Louisville',
 'Boston',
 'Cambridge',
 'Baltimore',
 'Portland',
 'Ann Arbor',
 'Clinton Township',
 'Detroit',
 'Kalamazoo',
 'Lansing',
 'Pleasant Ridge',
 'Sterling Heights',
 'Austin',
 'Fargo',
 'Grand Forks',
 'Minneapolis',
 'Winona',
 'St. Louis ',
 'Charlotte',
 'Greensboro',
 'High Point',
 'Salisbury',
 'Concord',
 'Manchester',
 'Nashua',
 'Princeton',
 'Santa Fe',
 'New York',
 'Akron',
 'Cincinatti',
 'Columbus',
 'Dayton',
 'Toledo',
 'Tulsa',
 'Beaverton',
 'Erie',
 'Harrisburg',
 'Philadelphia',
 'Pittsburgh',
 'York',
 'Knoxville',
 'Nashville',
 'Dallas',
 'Houston',
 'Salt Lake City',
 'Alexandria',
 'Charlottesville',
 'Harrisonburg',
 'Richmond',
 'Roanoke',
 'Bellevue',
 'Kirkland',
 'Seattle',
 'Tacoma']

In [473]:
selected_cities = []
for welcome_city in welcome_cities_list:
    # Adds to selected_cities if any city matches xls_cities
    for xls_city in xls_cities:
        if welcome_city in xls_city:
            selected_cities.append(xls_city)

In [474]:
selected_cities = list(set(selected_cities))
selected_cities

['Denver-Aurora-Lakewood, CO',
 'Detroit-Warren-Dearborn, MI',
 'Boston-Cambridge-Newton, MA-NH',
 'Manchester-Nashua, NH',
 'Akron, OH',
 'San Diego-Carlsbad, CA',
 'New York-Newark-Jersey City, NY',
 'Anchorage, AK',
 'Seattle-Tacoma-Bellevue, WA',
 'Nashville-Davidson--Murfreesbor',
 'Deltona-Daytona Beach-Ormond Be',
 'Pittsburgh, PA',
 'Portland-Vancouver-Hillsboro, O',
 'Dallas-Fort Worth-Arlington, TX',
 'San Jose-Sunnyvale-Santa Clara,',
 'Portland-South Portland, ME',
 'Salt Lake City, UT',
 'Columbus, OH',
 'Louisville Jefferson County, KY',
 'Tulsa, OK',
 'Harrisburg-Carlisle, PA',
 'Ann Arbor, MI',
 'Lansing-East Lansing, MI',
 'Atlanta-Sandy Springs-Roswell, ',
 'Los Angeles-Long Beach-Anaheim,',
 'San Francisco-Oakland-Hayward, ',
 'Philadelphia-Camden-Wilmington,',
 'Washington-Arlington-Alexandria',
 'Minneapolis-St. Paul-Bloomingto',
 'Greensboro-High Point, NC',
 'Austin-Round Rock, TX',
 'Dayton, OH',
 'Chicago-Naperville-Elgin, IL-IN',
 'Richmond, VA',
 'Houston-The Woodlands-Sugar Lan',
 'Baltimore-Columbia-Towson, MD',
 'Charlotte-Concord-Gastonia, NC-']

In [475]:
len(selected_cities)

37

In [476]:
selected_cities

['Denver-Aurora-Lakewood, CO',
 'Detroit-Warren-Dearborn, MI',
 'Boston-Cambridge-Newton, MA-NH',
 'Manchester-Nashua, NH',
 'Akron, OH',
 'San Diego-Carlsbad, CA',
 'New York-Newark-Jersey City, NY',
 'Anchorage, AK',
 'Seattle-Tacoma-Bellevue, WA',
 'Nashville-Davidson--Murfreesbor',
 'Deltona-Daytona Beach-Ormond Be',
 'Pittsburgh, PA',
 'Portland-Vancouver-Hillsboro, O',
 'Dallas-Fort Worth-Arlington, TX',
 'San Jose-Sunnyvale-Santa Clara,',
 'Portland-South Portland, ME',
 'Salt Lake City, UT',
 'Columbus, OH',
 'Louisville Jefferson County, KY',
 'Tulsa, OK',
 'Harrisburg-Carlisle, PA',
 'Ann Arbor, MI',
 'Lansing-East Lansing, MI',
 'Atlanta-Sandy Springs-Roswell, ',
 'Los Angeles-Long Beach-Anaheim,',
 'San Francisco-Oakland-Hayward, ',
 'Philadelphia-Camden-Wilmington,',
 'Washington-Arlington-Alexandria',
 'Minneapolis-St. Paul-Bloomingto',
 'Greensboro-High Point, NC',
 'Austin-Round Rock, TX',
 'Dayton, OH',
 'Chicago-Naperville-Elgin, IL-IN',
 'Richmond, VA',
 'Houston-The Woodlands-Sugar Lan',
 'Baltimore-Columbia-Towson, MD',
 'Charlotte-Concord-Gastonia, NC-']

In [477]:
sheets = []
for sheet in selected_cities:
    df = xls.parse(sheet)
    df["City"] = sheet
    sheets.append(df)
mass_df = pd.concat(sheets)
mass_df

,Table with column headers in row 5 and row headers in column A,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,City
0,Table 26. Detailed Languages Spoken at Home an...,NaN,NaN,NaN,NaN,"Denver-Aurora-Lakewood, CO"
1,Release Date: October 2015,NaN,NaN,NaN,NaN,"Denver-Aurora-Lakewood, CO"
2,NaN,NaN,NaN,NaN,NaN,"Denver-Aurora-Lakewood, CO"
3,NaN,Number of speakers1,Margin of Error2,"Speak English less than ""Very Well""1",Margin of Error2,"Denver-Aurora-Lakewood, CO"
4,.Population 5 years and over,2422236,205,198448,4061,"Denver-Aurora-Lakewood, CO"
5,Speak only English at home,1943680,5933,(X),(X),"Denver-Aurora-Lakewood, CO"
6,Speak a language other than English at home,478556,5955,198448,4061,"Denver-Aurora-Lakewood, CO"
7,SPANISH AND SPANISH CREOLE,323774,4789,138945,3267,"Denver-Aurora-Lakewood, CO"
8,..Spanish,323775,4789,138945,3267,"Denver-Aurora-Lakewood, CO"
9,OTHER INDO-EUROPEAN LANGUAGES,66074,2608,17311,1256,"Denver-Aurora-Lakewood, CO"
10,".French (incl. Patois, Cajun)",8969,876,1689,401,"Denver-Aurora-Lakewood, CO"
11,..French,8900,864,1690,401,"Denver-Aurora-Lakewood, CO"
12,..Patois,(D),(D),(B),--,"Denver-Aurora-Lakewood, CO"
13,..Cajun,(D),(D),(B),--,"Denver-Aurora-Lakewood, CO"
14,.French Creole,263,161,40,44,"Denver-Aurora-Lakewood, CO"
15,.Italian,2980,493,411,131,"Denver-Aurora-Lakewood, CO"
16,.Portuguese (incl. Portuguese Creole),1824,423,367,161,"Denver-Aurora-Lakewood, CO"
17,..Portuguese,1815,423,365,161,"Denver-Aurora-Lakewood, CO"
18,..Papia Mentae,(D),(D),(B),--,"Denver-Aurora-Lakewood, CO"
19,.German (incl. Luxembourgian),11113,864,1266,206,"Denver-Aurora-Lakewood, CO"
20,..German,11115,864,1265,206,"Denver-Aurora-Lakewood, CO"
21,.Yiddish,92,58,(B),--,"Denver-Aurora-Lakewood, CO"
22,.Other West Germanic languages,1242,276,90,55,"Denver-Aurora-Lakewood, CO"
23,..Pennsylvania Dutch,(D),(D),(B),--,"Denver-Aurora-Lakewood, CO"
24,..Dutch,800,192,60,40,"Denver-Aurora-Lakewood, CO"
25,..Afrikaans,420,189,30,36,"Denver-Aurora-Lakewood, CO"
26,.Scandinavian languages,1492,336,91,56,"Denver-Aurora-Lakewood, CO"
27,..Swedish,805,249,35,34,"Denver-Aurora-Lakewood, CO"
28,..Danish,225,104,30,30,"Denver-Aurora-Lakewood, CO"
29,..Norwegian,435,183,25,34,"Denver-Aurora-Lakewood, CO"
...,...,...,...,...,...,...
124,.African languages,6314,937,1423,344,"Charlotte-Concord-Gastonia, NC-"
125,..Amharic,1465,464,495,184,"Charlotte-Concord-Gastonia, NC-"
126,..Chadic,115,111,55,72,"Charlotte-Concord-Gastonia, NC-"
127,..Cushite,610,398,(D),(D),"Charlotte-Concord-Gastonia, NC-"
128,..Sudanic,45,69,(D),(D),"Charlotte-Concord-Gastonia, NC-"
129,..Swahili,630,292,130,104,"Charlotte-Concord-Gastonia, NC-"
130,..Bantu,620,348,175,137,"Charlotte-Concord-Gastonia, NC-"
131,..Mande,320,208,(D),(D),"Charlotte-Concord-Gastonia, NC-"
132,..Fulani,195,152,(D),(D),"Charlotte-Concord-Gastonia, NC-"
133,"..Kru, Ibo, Yoruba",2250,514,380,177,"Charlotte-Concord-Gastonia, NC-"
134,..Efik,(D),(D),(B),--,"Charlotte-Concord-Gastonia, NC-"
135,..African,35,39,(D),(D),"Charlotte-Concord-Gastonia, NC-"
136,.Other and unspecified languages,256,157,35,41,"Charlotte-Concord-Gastonia, NC-"
137,..Finnish,120,124,(B),--,"Charlotte-Concord-Gastonia, NC-"
138,..Estonian,(D),(D),(B),--,"Charlotte-Concord-Gastonia, NC-"
139,..Syriac,(D),(D),(B),--,"Charlotte-Concord-Gastonia, NC-"
140,..Mayan languages,(D),(D),(D),(D),"Charlotte-Concord-Gastonia, NC-"
141,..Tarascan,(D),(D),(D),(D),"Charlotte-Concord-Gastonia, NC-"
142,..Uncodable,80,46,(B),--,"Charlotte-Concord-Gastonia, NC-"
143,NaN,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
144,Notes:\n1 Detailed-language estimates are roun...,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
145,2 Data are based on a sample and are subject t...,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
146,3 N.E.C. stands for not elsewhere classified. ...,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
147,4 This category includes literal write-ins of ...,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
148,(D) Data withheld to avoid disclosure.,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
149,(B) Either no sample observations or too few s...,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
150,(X) Question does not apply.,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
151,-- Either no sample observations or too few s...,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
152,"Source: U.S. Census Bureau, 2009-2013 American...",NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"
153,Return to Index,NaN,NaN,NaN,NaN,"Charlotte-Concord-Gastonia, NC-"

In [478]:
mass_df.columns = ["Languages", "# of Speakers", "1", "2", "3", "City"]

In [479]:
mass_df = mass_df[["Languages", "# of Speakers", "City"]]
mass_df.head()

,Languages,# of Speakers,City
0,Table 26. Detailed Languages Spoken at Home an...,NaN,"Denver-Aurora-Lakewood, CO"
1,Release Date: October 2015,NaN,"Denver-Aurora-Lakewood, CO"
2,NaN,NaN,"Denver-Aurora-Lakewood, CO"
3,NaN,Number of speakers1,"Denver-Aurora-Lakewood, CO"
4,.Population 5 years and over,2422236,"Denver-Aurora-Lakewood, CO"

In [480]:
def remove_dots(text):
    if text != None and type(text) != float:
        return text.replace('.', '')
    else:
        return text
    
mass_df['Languages'] = mass_df['Languages'].apply(remove_dots)

/Users/lenatran/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [481]:
mass_df.head(20)

,Languages,# of Speakers,City
0,Table 26 Detailed Languages Spoken at Home and...,NaN,"Denver-Aurora-Lakewood, CO"
1,Release Date: October 2015,NaN,"Denver-Aurora-Lakewood, CO"
2,NaN,NaN,"Denver-Aurora-Lakewood, CO"
3,NaN,Number of speakers1,"Denver-Aurora-Lakewood, CO"
4,Population 5 years and over,2422236,"Denver-Aurora-Lakewood, CO"
5,Speak only English at home,1943680,"Denver-Aurora-Lakewood, CO"
6,Speak a language other than English at home,478556,"Denver-Aurora-Lakewood, CO"
7,SPANISH AND SPANISH CREOLE,323774,"Denver-Aurora-Lakewood, CO"
8,Spanish,323775,"Denver-Aurora-Lakewood, CO"
9,OTHER INDO-EUROPEAN LANGUAGES,66074,"Denver-Aurora-Lakewood, CO"
10,"French (incl Patois, Cajun)",8969,"Denver-Aurora-Lakewood, CO"
11,French,8900,"Denver-Aurora-Lakewood, CO"
12,Patois,(D),"Denver-Aurora-Lakewood, CO"
13,Cajun,(D),"Denver-Aurora-Lakewood, CO"
14,French Creole,263,"Denver-Aurora-Lakewood, CO"
15,Italian,2980,"Denver-Aurora-Lakewood, CO"
16,Portuguese (incl Portuguese Creole),1824,"Denver-Aurora-Lakewood, CO"
17,Portuguese,1815,"Denver-Aurora-Lakewood, CO"
18,Papia Mentae,(D),"Denver-Aurora-Lakewood, CO"
19,German (incl Luxembourgian),11113,"Denver-Aurora-Lakewood, CO"

In [482]:
def select_rows_with_languages_that_we_want(language_string):
    if language_string in ["Spanish", "Burmese", "Swahilli", "Karen", "Persian", "Armenian", "Arabic", "Nepali", "French", "Urdu"]:
        return True
    else:
        return False
    
mass_df = mass_df[mass_df.Languages.apply(select_rows_with_languages_that_we_want)]
mass_df

    Languages # of Speakers                             City
8     Spanish        323775       Denver-Aurora-Lakewood, CO
11     French          8900       Denver-Aurora-Lakewood, CO
46   Armenian           388       Denver-Aurora-Lakewood, CO
47    Persian          3223       Denver-Aurora-Lakewood, CO
50       Urdu          1437       Denver-Aurora-Lakewood, CO
57     Nepali          2390       Denver-Aurora-Lakewood, CO
99    Burmese           620       Denver-Aurora-Lakewood, CO
100     Karen           610       Denver-Aurora-Lakewood, CO
136    Arabic          7148       Denver-Aurora-Lakewood, CO
8     Spanish        111650      Detroit-Warren-Dearborn, MI
12     French         12905      Detroit-Warren-Dearborn, MI
44   Armenian          1999      Detroit-Warren-Dearborn, MI
45    Persian          1401      Detroit-Warren-Dearborn, MI
48       Urdu          8662      Detroit-Warren-Dearborn, MI
57     Nepali           445      Detroit-Warren-Dearborn, MI
100   Burmese            60      Detroit-Warren-Dearborn, MI
132    Arabic         97641      Detroit-Warren-Dearborn, MI
8     Spanish        343600   Boston-Cambridge-Newton, MA-NH
12     French         44845   Boston-Cambridge-Newton, MA-NH
46   Armenian          7503   Boston-Cambridge-Newton, MA-NH
47    Persian          4723   Boston-Cambridge-Newton, MA-NH
50       Urdu          4184   Boston-Cambridge-Newton, MA-NH
60     Nepali          3420   Boston-Cambridge-Newton, MA-NH
105   Burmese           710   Boston-Cambridge-Newton, MA-NH
137    Arabic         24461   Boston-Cambridge-Newton, MA-NH
8     Spanish         15865            Manchester-Nashua, NH
11     French          9465            Manchester-Nashua, NH
36   Armenian            57            Manchester-Nashua, NH
37    Persian           113            Manchester-Nashua, NH
40       Urdu           404            Manchester-Nashua, NH
..        ...           ...                              ...
52     Nepali           495                     Richmond, VA
85    Burmese           195                     Richmond, VA
86      Karen           150                     Richmond, VA
112    Arabic          4406                     Richmond, VA
8     Spanish       1617320  Houston-The Woodlands-Sugar Lan
11     French         21095  Houston-The Woodlands-Sugar Lan
44   Armenian           405  Houston-The Woodlands-Sugar Lan
45    Persian          9327  Houston-The Woodlands-Sugar Lan
48       Urdu         31069  Houston-The Woodlands-Sugar Lan
58     Nepali          3305  Houston-The Woodlands-Sugar Lan
103   Burmese          1230  Houston-The Woodlands-Sugar Lan
104     Karen          1005  Houston-The Woodlands-Sugar Lan
142    Arabic         22074  Houston-The Woodlands-Sugar Lan
8     Spanish         99885    Baltimore-Columbia-Towson, MD
11     French         15035    Baltimore-Columbia-Towson, MD
44   Armenian           236    Baltimore-Columbia-Towson, MD
45    Persian          3613    Baltimore-Columbia-Towson, MD
48       Urdu          9140    Baltimore-Columbia-Towson, MD
57     Nepali          1770    Baltimore-Columbia-Towson, MD
98    Burmese           900    Baltimore-Columbia-Towson, MD
129    Arabic          6076    Baltimore-Columbia-Towson, MD
8     Spanish        169540  Charlotte-Concord-Gastonia, NC-
11     French          7380  Charlotte-Concord-Gastonia, NC-
45   Armenian           111  Charlotte-Concord-Gastonia, NC-
46    Persian           871  Charlotte-Concord-Gastonia, NC-
49       Urdu           865  Charlotte-Concord-Gastonia, NC-
56     Nepali           720  Charlotte-Concord-Gastonia, NC-
93    Burmese           400  Charlotte-Concord-Gastonia, NC-
94      Karen           (D)  Charlotte-Concord-Gastonia, NC-
122    Arabic          3142  Charlotte-Concord-Gastonia, NC-

[312 rows x 3 columns]

In [483]:
mass_df = mass_df.set_index("Languages")
mass_df

          # of Speakers                             City
Languages
Spanish          323775       Denver-Aurora-Lakewood, CO
French             8900       Denver-Aurora-Lakewood, CO
Armenian            388       Denver-Aurora-Lakewood, CO
Persian            3223       Denver-Aurora-Lakewood, CO
Urdu               1437       Denver-Aurora-Lakewood, CO
Nepali             2390       Denver-Aurora-Lakewood, CO
Burmese             620       Denver-Aurora-Lakewood, CO
Karen               610       Denver-Aurora-Lakewood, CO
Arabic             7148       Denver-Aurora-Lakewood, CO
Spanish          111650      Detroit-Warren-Dearborn, MI
French            12905      Detroit-Warren-Dearborn, MI
Armenian           1999      Detroit-Warren-Dearborn, MI
Persian            1401      Detroit-Warren-Dearborn, MI
Urdu               8662      Detroit-Warren-Dearborn, MI
Nepali              445      Detroit-Warren-Dearborn, MI
Burmese              60      Detroit-Warren-Dearborn, MI
Arabic            97641      Detroit-Warren-Dearborn, MI
Spanish          343600   Boston-Cambridge-Newton, MA-NH
French            44845   Boston-Cambridge-Newton, MA-NH
Armenian           7503   Boston-Cambridge-Newton, MA-NH
Persian            4723   Boston-Cambridge-Newton, MA-NH
Urdu               4184   Boston-Cambridge-Newton, MA-NH
Nepali             3420   Boston-Cambridge-Newton, MA-NH
Burmese             710   Boston-Cambridge-Newton, MA-NH
Arabic            24461   Boston-Cambridge-Newton, MA-NH
Spanish           15865            Manchester-Nashua, NH
French             9465            Manchester-Nashua, NH
Armenian             57            Manchester-Nashua, NH
Persian             113            Manchester-Nashua, NH
Urdu                404            Manchester-Nashua, NH
...                 ...                              ...
Nepali              495                     Richmond, VA
Burmese             195                     Richmond, VA
Karen               150                     Richmond, VA
Arabic             4406                     Richmond, VA
Spanish         1617320  Houston-The Woodlands-Sugar Lan
French            21095  Houston-The Woodlands-Sugar Lan
Armenian            405  Houston-The Woodlands-Sugar Lan
Persian            9327  Houston-The Woodlands-Sugar Lan
Urdu              31069  Houston-The Woodlands-Sugar Lan
Nepali             3305  Houston-The Woodlands-Sugar Lan
Burmese            1230  Houston-The Woodlands-Sugar Lan
Karen              1005  Houston-The Woodlands-Sugar Lan
Arabic            22074  Houston-The Woodlands-Sugar Lan
Spanish           99885    Baltimore-Columbia-Towson, MD
French            15035    Baltimore-Columbia-Towson, MD
Armenian            236    Baltimore-Columbia-Towson, MD
Persian            3613    Baltimore-Columbia-Towson, MD
Urdu               9140    Baltimore-Columbia-Towson, MD
Nepali             1770    Baltimore-Columbia-Towson, MD
Burmese             900    Baltimore-Columbia-Towson, MD
Arabic             6076    Baltimore-Columbia-Towson, MD
Spanish          169540  Charlotte-Concord-Gastonia, NC-
French             7380  Charlotte-Concord-Gastonia, NC-
Armenian            111  Charlotte-Concord-Gastonia, NC-
Persian             871  Charlotte-Concord-Gastonia, NC-
Urdu                865  Charlotte-Concord-Gastonia, NC-
Nepali              720  Charlotte-Concord-Gastonia, NC-
Burmese             400  Charlotte-Concord-Gastonia, NC-
Karen               (D)  Charlotte-Concord-Gastonia, NC-
Arabic             3142  Charlotte-Concord-Gastonia, NC-

[312 rows x 2 columns]

In [484]:
mass_df = mass_df.groupby(["City", "Languages"]).sum()
mass_df

                                          # of Speakers
City                            Languages
Akron, OH                       Arabic             3063
                                Armenian             47
                                Burmese              55
                                French             1415
                                Karen               355
                                Nepali              800
                                Persian             212
                                Spanish            8060
                                Urdu                 79
Anchorage, AK                   Arabic              343
                                Burmese             (D)
                                French             1195
                                Nepali              300
                                Persian              68
                                Spanish           14040
                                Urdu                272
Ann Arbor, MI                   Arabic             3805
                                Armenian             73
                                French             1610
                                Nepali               15
                                Persian             371
                                Spanish            8825
                                Urdu                682
Atlanta-Sandy Springs-Roswell,  Arabic            12257
                                Armenian            307
                                Burmese            1390
                                French            28515
                                Karen              1005
                                Nepali             3070
                                Persian            8155
...                                                 ...
San Jose-Sunnyvale-Santa Clara, Karen               210
                                Nepali              640
                                Persian           14462
                                Spanish          339165
                                Urdu               5687
Seattle-Tacoma-Bellevue, WA     Arabic             9263
                                Armenian           1040
                                Burmese             820
                                French            15990
                                Karen                35
                                Nepali             1995
                                Persian            7155
                                Spanish          207590
                                Urdu               3055
Tulsa, OK                       Arabic             1402
                                Burmese             875
                                French             1425
                                Karen                90
                                Persian             500
                                Spanish           55620
                                Urdu                610
Washington-Arlington-Alexandria Arabic            38910
                                Armenian           2614
                                Burmese            2090
                                French            58045
                                Karen               (D)
                                Nepali             7155
                                Persian           32302
                                Spanish          633140
                                Urdu              28511

[312 rows x 1 columns]

In [485]:
mass_df = mass_df.reset_index()
mass_df

                                City Languages # of Speakers
0                          Akron, OH    Arabic          3063
1                          Akron, OH  Armenian            47
2                          Akron, OH   Burmese            55
3                          Akron, OH    French          1415
4                          Akron, OH     Karen           355
5                          Akron, OH    Nepali           800
6                          Akron, OH   Persian           212
7                          Akron, OH   Spanish          8060
8                          Akron, OH      Urdu            79
9                      Anchorage, AK    Arabic           343
10                     Anchorage, AK   Burmese           (D)
11                     Anchorage, AK    French          1195
12                     Anchorage, AK    Nepali           300
13                     Anchorage, AK   Persian            68
14                     Anchorage, AK   Spanish         14040
15                     Anchorage, AK      Urdu           272
16                     Ann Arbor, MI    Arabic          3805
17                     Ann Arbor, MI  Armenian            73
18                     Ann Arbor, MI    French          1610
19                     Ann Arbor, MI    Nepali            15
20                     Ann Arbor, MI   Persian           371
21                     Ann Arbor, MI   Spanish          8825
22                     Ann Arbor, MI      Urdu           682
23   Atlanta-Sandy Springs-Roswell,     Arabic         12257
24   Atlanta-Sandy Springs-Roswell,   Armenian           307
25   Atlanta-Sandy Springs-Roswell,    Burmese          1390
26   Atlanta-Sandy Springs-Roswell,     French         28515
27   Atlanta-Sandy Springs-Roswell,      Karen          1005
28   Atlanta-Sandy Springs-Roswell,     Nepali          3070
29   Atlanta-Sandy Springs-Roswell,    Persian          8155
..                               ...       ...           ...
282  San Jose-Sunnyvale-Santa Clara,     Karen           210
283  San Jose-Sunnyvale-Santa Clara,    Nepali           640
284  San Jose-Sunnyvale-Santa Clara,   Persian         14462
285  San Jose-Sunnyvale-Santa Clara,   Spanish        339165
286  San Jose-Sunnyvale-Santa Clara,      Urdu          5687
287      Seattle-Tacoma-Bellevue, WA    Arabic          9263
288      Seattle-Tacoma-Bellevue, WA  Armenian          1040
289      Seattle-Tacoma-Bellevue, WA   Burmese           820
290      Seattle-Tacoma-Bellevue, WA    French         15990
291      Seattle-Tacoma-Bellevue, WA     Karen            35
292      Seattle-Tacoma-Bellevue, WA    Nepali          1995
293      Seattle-Tacoma-Bellevue, WA   Persian          7155
294      Seattle-Tacoma-Bellevue, WA   Spanish        207590
295      Seattle-Tacoma-Bellevue, WA      Urdu          3055
296                        Tulsa, OK    Arabic          1402
297                        Tulsa, OK   Burmese           875
298                        Tulsa, OK    French          1425
299                        Tulsa, OK     Karen            90
300                        Tulsa, OK   Persian           500
301                        Tulsa, OK   Spanish         55620
302                        Tulsa, OK      Urdu           610
303  Washington-Arlington-Alexandria    Arabic         38910
304  Washington-Arlington-Alexandria  Armenian          2614
305  Washington-Arlington-Alexandria   Burmese          2090
306  Washington-Arlington-Alexandria    French         58045
307  Washington-Arlington-Alexandria     Karen           (D)
308  Washington-Arlington-Alexandria    Nepali          7155
309  Washington-Arlington-Alexandria   Persian         32302
310  Washington-Arlington-Alexandria   Spanish        633140
311  Washington-Arlington-Alexandria      Urdu         28511

[312 rows x 3 columns]

In [486]:
mass_df.isnull().values.any()

False

In [490]:
import numpy as np

mass_df = mass_df.replace("(D)", np.NaN)

In [491]:
mass_df

                                City Languages  # of Speakers
0                          Akron, OH    Arabic         3063.0
1                          Akron, OH  Armenian           47.0
2                          Akron, OH   Burmese           55.0
3                          Akron, OH    French         1415.0
4                          Akron, OH     Karen          355.0
5                          Akron, OH    Nepali          800.0
6                          Akron, OH   Persian          212.0
7                          Akron, OH   Spanish         8060.0
8                          Akron, OH      Urdu           79.0
9                      Anchorage, AK    Arabic          343.0
10                     Anchorage, AK   Burmese            NaN
11                     Anchorage, AK    French         1195.0
12                     Anchorage, AK    Nepali          300.0
13                     Anchorage, AK   Persian           68.0
14                     Anchorage, AK   Spanish        14040.0
15                     Anchorage, AK      Urdu          272.0
16                     Ann Arbor, MI    Arabic         3805.0
17                     Ann Arbor, MI  Armenian           73.0
18                     Ann Arbor, MI    French         1610.0
19                     Ann Arbor, MI    Nepali           15.0
20                     Ann Arbor, MI   Persian          371.0
21                     Ann Arbor, MI   Spanish         8825.0
22                     Ann Arbor, MI      Urdu          682.0
23   Atlanta-Sandy Springs-Roswell,     Arabic        12257.0
24   Atlanta-Sandy Springs-Roswell,   Armenian          307.0
25   Atlanta-Sandy Springs-Roswell,    Burmese         1390.0
26   Atlanta-Sandy Springs-Roswell,     French        28515.0
27   Atlanta-Sandy Springs-Roswell,      Karen         1005.0
28   Atlanta-Sandy Springs-Roswell,     Nepali         3070.0
29   Atlanta-Sandy Springs-Roswell,    Persian         8155.0
..                               ...       ...            ...
282  San Jose-Sunnyvale-Santa Clara,     Karen          210.0
283  San Jose-Sunnyvale-Santa Clara,    Nepali          640.0
284  San Jose-Sunnyvale-Santa Clara,   Persian        14462.0
285  San Jose-Sunnyvale-Santa Clara,   Spanish       339165.0
286  San Jose-Sunnyvale-Santa Clara,      Urdu         5687.0
287      Seattle-Tacoma-Bellevue, WA    Arabic         9263.0
288      Seattle-Tacoma-Bellevue, WA  Armenian         1040.0
289      Seattle-Tacoma-Bellevue, WA   Burmese          820.0
290      Seattle-Tacoma-Bellevue, WA    French        15990.0
291      Seattle-Tacoma-Bellevue, WA     Karen           35.0
292      Seattle-Tacoma-Bellevue, WA    Nepali         1995.0
293      Seattle-Tacoma-Bellevue, WA   Persian         7155.0
294      Seattle-Tacoma-Bellevue, WA   Spanish       207590.0
295      Seattle-Tacoma-Bellevue, WA      Urdu         3055.0
296                        Tulsa, OK    Arabic         1402.0
297                        Tulsa, OK   Burmese          875.0
298                        Tulsa, OK    French         1425.0
299                        Tulsa, OK     Karen           90.0
300                        Tulsa, OK   Persian          500.0
301                        Tulsa, OK   Spanish        55620.0
302                        Tulsa, OK      Urdu          610.0
303  Washington-Arlington-Alexandria    Arabic        38910.0
304  Washington-Arlington-Alexandria  Armenian         2614.0
305  Washington-Arlington-Alexandria   Burmese         2090.0
306  Washington-Arlington-Alexandria    French        58045.0
307  Washington-Arlington-Alexandria     Karen            NaN
308  Washington-Arlington-Alexandria    Nepali         7155.0
309  Washington-Arlington-Alexandria   Persian        32302.0
310  Washington-Arlington-Alexandria   Spanish       633140.0
311  Washington-Arlington-Alexandria      Urdu        28511.0

[312 rows x 3 columns]

In [492]:
mass_df["# of Speakers"] = mass_df["# of Speakers"].apply(pd.to_numeric)

In [493]:
mass_df.to_csv("welcome_city_languages.csv")